@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// mobile
@mixin xs {
  @media (min-width: $xs) {
    @content;
  }
}

// mobile portrait
@mixin sm {
  @media (min-width: $sm) {
    @content;
  }
}

// Small devices
@mixin md {
  @media (min-width: $md) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: $lg) {
    @content;
  }
}

// X-Large devices
@mixin xl {
  @media (min-width: $xl) {
    @content;
  }
}

// XX-Large devices
@mixin xxl {
  @media (min-width: $xxl) {
    @content;
  }
}

@mixin fontSize($value) {
  #{font-size}: ($value / 16) + rem;
}

@mixin clearfix {
  &::after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

@mixin e200 {
  -webkit-transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -moz-transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  -o-transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: all 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75);
  /* linear */
}

@mixin e500 {
  -webkit-transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -moz-transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  -o-transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition: all 500ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
  /* easeInQuart */
  /* easeOutCirc */
}

@mixin e1000 {
  -webkit-transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1000ms cubic-bezier(0.075, 0.82, 0.165, 1);
  /* easeOutCirc */
}

@mixin e2000 {
  transition: all 1500ms cubic-bezier(0.25, 0.1, 0.34, 0.77); /* custom */
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.34, 0.77); /* custom */
  /* easeOutCirc */
}

@mixin e4000 {
  transition: all 4000ms cubic-bezier(0.25, 0.1, 0.34, 0.77); /* custom */

  transition-timing-function: cubic-bezier(0.25, 0.1, 0.34, 0.77); /* custom */
}

@mixin e5000 {
  -webkit-transition: all 5000ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: all 5000ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: all 5000ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 5000ms cubic-bezier(0.23, 1, 0.32, 1);
  /* easeOutQuint */
}
