$font11: 0.6875rem;
$font12: 0.75rem;
$font13: 0.8125rem;
$font14: 0.875rem;
$font15: 0.938rem;
$font16: 1rem;
$font17: 1.0625rem;
$font18: 1.125rem;
$font19: 1.1875rem;
$font20: 1.25rem;
$font21: 1.25rem;
$font22: 1.375rem;
$font24: 1.5rem;
$font25: 1.5625rem;
$font28: 1.5425rem;
$font30: 1.875rem;
$font32: 2rem;
$font33: 2.0625rem;
$font36: 2.25rem;
$font37: 2.3125rem;
$font40: 2.5rem;
$font42: 2.8rem;
$font45: 2.8125rem;
$font48: 3rem;
$font50: 3.125rem;
$font55: 3.4375rem;
$font60: 3.75rem;
$font72: 4.5rem;
$font76: 4.6rem;

$assetImages: "../images";

$font-primary: "Poppins", sans-serif;
$font-secondary: "Source Sans Pro", sans-serif;

$color-primary: #272C3F;
$color-secondary: #C0B495;
$color-dark-gray: #2f3342;
$color-light: #f3f5f7;
$color-dark: #04183b;
$color-white: #fff;
