@import "./variables";
@import "./mixins";

html {
  height: 100%;
}
body {
  min-width: 400px;
  box-sizing: border-box;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;

  &.modal-open {
    overflow: hidden;
  }
}
body::-webkit-scrollbar {
  display: none; /* Chrome & Safari */
}

* {
  box-sizing: border-box;
  font-style: normal;
  font-size: 13px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: $color-secondary;
}

*::before,
*::after {
  box-sizing: border-box;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
.navbar{
  background-color: $color-primary;
  color: $color-secondary;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.border  {
  color: $color-secondary;
}
.card{
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &-home-texts{
    & h2 {
      height: 65px;
    }
    & p{
      color: $color-primary;
    }
  }
}

.carousel-indicators {
  background-color: transparent !important;
}
.carousel-sets {
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-size: cover;
  height: 70vh !important;
  width: 100% !important;
}
.carousel-background-one {
  width: 100%;
  height: 70vh;
  position: relative;
}
.carousel-background-two {
  width: 100%;
  height: 70vh;
  position: relative;
}
.dark-curtain {
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  @include md {
    padding: 0 100px;
  }
  @include lg {
    padding: 0 200px;
  }
  & img{
    filter: brightness(50%)
  }
  &__text-wrapper {
    background: transparent;
    color: #fff;
    & h2 {
      font-size: 2.5rem !important;
      font-weight: 700;
      background: transparent;
      color: #fff;
      @include lg{
        font-size: 3.5rem !important;
      }
    }
    & p {
      font-size: 1.5rem !important;
      font-weight: 500;
      background: transparent;
      color: #fff;
      @include lg{
        font-size: 2.5rem !important;
      }
    }
  }
}
.carousel-indicators button {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
}
.home-card-section {
  width: 100%;
  background: #fff !important;
  min-width: 400px;
  padding: 30px 10px;
  & .container,
  & .row,
  & .card-wrapper {
    background: #fff !important;
  }
  & .card {
    background: #fff !important;
    width: 100%;
  }
}
.banner-section {
  position: relative;
  width: 100%;
  height: 400px;
  background: url("https://d1hjsolsz9ati5.cloudfront.net/wp-content/uploads/2019/01/29113633/rubber-tyre.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  &__inner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
  }
}
.banner-section{
  & h2{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
  }
  & h4{
    font-size: 35px;
    color: #fff;
  }
}
.me-auto{
  margin-right: 0 !important;
  column-gap: 1rem;
  & a{
    font-size: 13px;
    @include md{
      font-size: 20px;
    }
    @include lg{
      font-size: 20px;
      font-weight: 600;
    }
  }
}
.navbar-toggler{
  background-color: #C0B495 !important;
}
.navbar-expand-lg .navbar-collapse {
  @include lg{
    display: flex!important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}

.contact-card{
  position: relative;
  background: $color-primary;
  font-size: 25px;
  & .contact-form{

    & input, & textarea{
      font-size: 20px;
    }
    & label{
      font-size: 25px;
    }
    
    & button{
      font-size: 20px;
      background: $color-secondary;
      color: $color-primary;

      &:hover{
        background-color: #fff;
        color: $color-primary;
      }
    }
  }

  & .contact-image{
    position: absolute;
    top: 0;
    right: 0;
    width: 362.9px;
    border-radius: 0 0.375rem 0.375rem 0 ;
  }
}
.home-products{
  // border: 1px solid $color-primary;
  background-color: #d4dbf3;
}
.little-slider-image{
  border-radius: 60px;
  height: 300px;
  width: 400px;
  // border: 1px solid $color-primary;
}
footer{
  background: $color-primary;
  padding-top: 50px;
  padding-bottom: 50px;
}