@import "../../variables";
@import "../../mixins";

.header-top__wrapper{
    & *{
        color: $color-secondary !important;
        background-color: $color-primary !important;
    }
    width: 100% !important;
    @include md{
        background-color: $color-secondary !important;
        padding: 0 50px;
        & *{
            color: $color-primary !important;
            background-color: $color-secondary !important;
        }
    }
    @include lg {
        background-color: $color-secondary !important;
        padding: 0 150px;
        & *{
            color: $color-primary !important;
            background-color: $color-secondary !important;
        }
    }
}
.header-middle-divider{
    border-right: 1px solid $color-primary;
}
.header-divider{
    border-top: 0.5px solid $color-secondary;
    @include md{
        display: none;
    }
}
.navbar *{
    text-decoration: none !important;
    color: $color-secondary;
    &:hover{
        text-decoration: none !important;
        color: #fff;
    }
}
.navbar__row{
    margin-left: 0 !important;
    margin-right: 0 !important;

    & a{
        font-size: 15px;
        font-weight: 600;

        @include md{
            font-size: 19px;
        }
        @include lg{
            font-size: 21px;
        }
    }
}