/* poppins-300 - latin */
// @font-face {
//   font-family: "Poppins";
//   font-style: normal;
//   font-weight: 300;
//   font-display: swap;
//   src: url("../fonts/poppins-300.eot");
//   src: local(""), url("../fonts/poppins-300.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-300.woff2") format("woff2"),
//     url("../fonts/poppins-300.woff") format("woff"), url("../fonts/poppins-300.ttf") format("truetype"),
//     url("../fonts/poppins-300.svg#Poppins") format("svg");
// }

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
